        body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        main {
            display: flex;
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
        }

        .container {
            flex: 1;
            background-color: lightgray;
        }

        a {
            text-decoration: none;
        }

        sidebar a {
            display: block;
            padding: 1rem;
        }

        sidebar a:not(:last-child) {
            border-bottom: 1px solid lightgray;
        }

        footer p {
            text-align: center;
        }